div.mb-5
  h3.mb-3 #{conferenceName}
  .table-responsive
    table.table.table-bordered
      tbody 
        tr 
          th(scope='row').align-middle.px-4.py-3.bg-light 開催日
          td(colspan="3").align-middle.px-4.py-3 #{conferenceDate}
        tr 
          th(scope='row').align-middle.px-4.py-3.bg-light 開催形態
          td(colspan="3").align-middle.px-4.py-3 #{conferenceType}
        tr 
          th(scope='row').align-middle.px-4.py-3.bg-light URL
          td(colspan="3").align-middle.px-4.py-3 
            a(href=conferenceUrl target="_blank").text-primary #{conferenceUrl}
        tr
          th(scope='row').align-middle.px-4.py-3.bg-light ハッシュタグ
          td(colspan="1").align-middle.px-4.py-3
            if conferenceHashtag !== ''
              - var hashTagLink = 'https://twitter.com/search?q=%23' + conferenceHashtag
              a(href=hashTagLink target='_blank').text-primary #{'#'}#{conferenceHashtag}
            else 
              span -
          th(scope='row').align-middle.px-4.py-3.bg-light 主催
          td(colspan="1").align-middle.px-4.py-3 #{conferenceOrganizer}
  p #{conferenceDescription}